h1 {
    color: rgb(52, 202, 127);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 4vw; 
    margin-top: 10vh; 
}

body {
    background-image: url('../static/hamon.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div h1 {

    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(14, 14, 133);
    background-color: rgb(140, 240, 185);
}

div h2 {
    font-size: 20px;
    color: #e07070;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(9, 172, 231);
}


a:focus {
    color: rgb(128, 0, 0);
  }  

li a.selected {
    color: red; 
    font-weight: bold; 
}

li a:hover {
    text-decoration: underline; 
}
span.info {
    font-size: 25pt;
    }

p.info {
    color: blue;
    }

