{% extends 'base.html' %}

{% block content %}
<body>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <p>
                    <span class="info"> Hello </span>
                    <ol>
                        {% for u in users %}
                            <li>
                                <a class="userlink" href="{{url_for('employee_details', empid=u.id)}}">{{u.fname}}</a>
                            </li>
                        {% endfor %}
                    </ol>
                </p>
            </div>
            <div class="col-8">
                <p id="userdetails"></p>
                <span class="info">
                  {% with messages = get_flashed_messages() %}
                      {% if messages %}
                          <div class="flash-messages">
                              {% for message in messages %}
                                  <div class="flash-message">{{ message }}</div>
                              {% endfor %}
                          </div>
                      {% endif %}
                  {% endwith %}
              </span>
            </div>
        </div>
    </div>

</body>
{% endblock %}
