{% extends 'base.html' %}

{% block content %}
<body>
  <div>
    <!-- <script src="{{url_for('static', filename='search.js')}}"></script> -->
  </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <p>
                    <span class="info"> Hello </span>
                    <ol>
                        {% for u in users %}
                            <li>
                                <a class="userlink" href="{{url_for('employee_details', empid=u.id)}}">{{u.fname}} {{u.lname}}</a>
                            </li>
                        {% endfor %}
                    </ol>
    </p>
            </div>
            <div class="col-8">
                <p id="userdetails"></p>
            </div>+-*
        </div>
    </div>


</body>
{% endblock %}
